@import 'https://fonts.googleapis.com/css?family=Roboto:500';

body {
  background-color: #202321;
  color: #69C791;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #7ED8A5;
}

a {
  color: #C7F0D9;
}
